# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env
.env.*

# Node / frontend
node_modules/
.next/
dist/
build/

# Editores
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db